@charset "utf-8";
body,ul,ol,li,dl,dd,p,div,input,textarea,select,td,option,h1,h2,h3,h4,h5,h6,a{
        margin:0;
        padding:0;
    }
a{
    text-decoration:none;
    }
body{
    width:100%;
    height:100%;
    font-family: "微软雅黑",Arial;
}
ul,ol{
    list-style: none;
}
//左边轮播图
.left{
    width:480px;
    height:650px;
    position:fixed;
    top:0;
    left:0;    
    img{
        width:480px;
        height:657px;
    }
    a{
        position:absolute;
        top:30px;
        left:30px;
        display:block;
        font-size:36px;
        padding-left:45px;
        line-height:50px;
        color:black;
        width:130px;
        height:50px;
        background:url(../img/logo.png) 0px 0px no-repeat;
    }
    
}
//右边注册
.right{
        width:675px;
        float:right;
        &:after{
            content:"";
            display:block;
            height:0;
            clear:both;
            overflow:hidden;
            visibility:hidden;
        }
        .right_top{
            margin:20px 0 50px 195px;
            &:after{
            content:"";
            display:block;
            height:0;
            clear:both;
            overflow:hidden;
            visibility:hidden;
            }
            
           .top_1{
               display:block;
               width:100px;
               height:35px;
               line-height:35px;
               float:left;
               color: #676767;
               margin-right:20px;
           }
           .top_1:nth-child(1){
               position:relative;
               &:hover{
                   .top_11{
                       display:block;
                   }
               }
               img{
                   float:left;
               }
               .top1{
                   background:#ff734f;
                   color:#fff;
                   width:82px;
                   margin:5px auto 0;
                   height:30px;
                   border-radius:4px;
                   
               }
               .top_11{
                   position:absolute;
                   display:none;
                   top:34px;
                   right:5px;
                   width:288px;
                   height:112px;
                   border:1px solid #ccc;
                   border-radius:10px;
                   input{
                       width:220px;
                       height:48px;
                       border:none;
                       margin-top:2px;
                       margin-left:2px;
                       outline:none;
                       font-size:16px;
                       background:#fff;
                   }
                   .su{
                       float:right;
                       width:40px;
                       height:50px;
                       border-left:1px solid #ccc;
                       .sus{
                            width:16px;
                            height:16px;
                            margin:20px auto;
                            background:url(../img/search.png) no-repeat;
                       }
                       &:hover{
                           background:#fe6a4e;
                           .sus{
                               background:url(../img/search-hover.png) no-repeat;
                           }
                       }
                   }
                   .bot{
                           width:288px;
                           height:60px;
                           text-align:center;
                           line-height:60px;
                           border-top:1px solid #ccc;
                           background:#fff;
                           a{
                               color:#359eff;
                               margin:5px;
                           }
                       }
               }
           }
            .top_1:nth-child(2){
                  a{
                      color:#676767;
                  }
                img{
                    float:left;
                    margin-top:11px;
                    margin-right:7px;
                }
            }
            .top_1:nth-child(3){
             position:relative;
              &:hover{
                           .yc{
                               display:block;
                           }
                           img{
                               display:none;
                           }
                           .yc_1{
                               display:block;
                           }
                       }
                    .yc_1{
                        display:none;
                        position:absolute;
                        left:70px;
                        top:15px;
                    }
                   .yc{
                       width:85px;
                       height:80px;
                       position:absolute;
                       top:34px;
                       left:-2px;
                       display:none;
                       a{
                           color:#676767;
                       }
                   } 
            }
        }
      .right_ban{
          width:483px;
          .com{
              font-size: 40px;
              color:black;
              margin-bottom:30px;
          }
          .mf{
              float:right;
              a{
                  color:#349df0;
                  font-size:24px;
              }
          }
          .gt{
              font-size:28px;
              color:black;
              margin-bottom:65px;
          }
      }  
     input{
         width:478px;
         height:50px;
         font-size:18px;
         border:1px solid #aaa;
         border-radius:4px;
         background:0 0;
         text-indent:20px;
     }
     .mm{
         margin-top:32px;
     }
     .shouji{
         width:478px;
         margin-top:32px; 
         &:after{
            content:"";
            display:block;
            height:0;
            clear:both;
            overflow:hidden;
            visibility:hidden;
        }
         .call{
             float:right;
             width:300px;
             height:50px;
         }
         .diqu{
             float:left;
             font-size:12px;
             color:#ccc;
            position:relative;
            .dq{
                margin-bottom:10px;
            }
            img{
                position:absolute;
                top:25px;
                right:15px;
            }
            .sj_2{
                display:none;
            }
            .cit{
                width:478px;
                height:200px;
                border:1px solid #aaa;
                z-index:2;
                background:#fff;
                display:none;
                overflow-y: scroll;
                position:absolute;
                top:50px;
                left:0;
            }
         input:nth-child(1){
             width:152px;
             height:50px;
            }
         }
        }
        .yz{
             width:478px;
             margin:20px 0 45px 0;
             display:none;
             .yz_1{
                 width:152px;
                 height:50px;
             }
             .yz_2{
                 width:308px;
                 height:50px;
                 background-color:#3285ff;
                 color:#fff;
                 margin-left:10px;
             }
        }
        .btn{
            background-color:#3386ff;
            color:#fff;
            margin-top:40px;
            margin-bottom:30px;
        }
        .kt{
            position:relative;
            padding-left:25px;
            font-size:12px;
            color:#a0a6b2;
            span:hover{
                cursor:default;
            }
            img{
                position:absolute;
                top:0px;
                left:0px;
            }
            img:nth-child(2){
                    display:none;
            }
            
        }
        .xy{
            width:220px;
            margin:15px 0 90px 0;
            position:relative;
            padding-left:25px;
            font-size:12px;
            color:#a0a6b2;
            span:hover{
                cursor:default;
            }
            .xy1{
                position:absolute;
                top:0px;
                left:0px;
            }
            .xy1:nth-child(2){
                    display:none;
            }
        }
        .bq{
            width:478px;
            text-align:center;
            font-size:12px;
            color:#ccc;
            margin-bottom:40px;
        }
        .right_xy{
            position:absolute;
            right:-12px;
            top:3px;
            width:10px;
            height:10px;
        }
        .xy_11{
            position:absolute;
            top:2px;
            right:0px;
        }
        .xy_11:nth-child(2){
            display:none;
        }
        .xy_1{
            position:absolute;
            left:15px;
            top:20px;
            display:none;
            a{
                display:block;
                color:skyblue;
                font-size:14px; 
                &:hover{
                    color:blue;
                }
            }
        }
       #nameSpan{
           background:url(../img/error.png) 0px 0px no-repeat;
           color:#f36468;
           margin-top:10px;
           font-size:14px;
           padding-left:25px;
           display:none;
       }
       .passSpan{
           list-style:none;
           font-size:14px;
           color:black;
           display:none;
           li{
               padding-left:25px;
               line-height:25px;
           }
           li:nth-child(1){
               margin-top:10px;
               background:url(../img/green.png) 0px 3px no-repeat;
           }
           li:nth-child(2),li:nth-child(3){
               background:url(../img/info.png) 0px 3px no-repeat;
            }
       }
       .name{
           width:480px;
           position:relative;
           .name_img{
               position:absolute;
               right:10px;
               top:18px;
               display:none;
           }
       }
       .pass{
           width:480px;
           position:relative;
           .name_img1{
               position:absolute;
               right:10px;
               top:50px;
               display:none;
           }
           .pass_key{
               position:absolute;
               right:45px;
               top:40px;
               display:none;
               .eye{
                   display:none;
               }
               
           }
       }
       #eeor{
           color:#f36468;
           font-size:14px;
           background:url(../img/error.png) 0px 0px no-repeat;
           padding-left:25px;
           margin-top:15px;
           display:none;
       }
       .btn:hover{
           background:blue;
       }
    }