
//nav
.nav{
    width:1120px;
    height:60px;
    background:#222021;
    margin:0 auto 10px;
    position:relative;
    span{
        float:left;
    }
    .nav_left{
        width:160px;
        height:60px;
        background:#a01f23;
        color:#fff;
        text-align:center;
        line-height:60px;
        font-size:18px;
    }
    .nav_ce{
        width:610px;
        height:60px;
        margin-left:15px;
        background:url(../img/buy_liucheng.jpg) 0px 0px no-repeat; 
    }
    .nav_right{
        position:absolute;
        right:0;
        top:0;
        width:190px;
        height:60px;
        background:url(../img/menu_right.gif) center no-repeat;
        .nav_right1{
            width:190px;
            height:357px;
            background:url(../img/fuwu_tip.jpg) center no-repeat;
            position:absolute;
            top:60px;
            left:0px;
            display:none;
        }
    }
}
//主体
.banner{
    width:1120px;
    margin:0 auto 80px;
    ul{
        list-style:none;
        height:47px;
        background:#e7e7e7;
        li{
            float:left;
            line-height:47px;
            font-size:14px;
            font-weight:600;
            text-indent:30px;
        }
        .li_sp{
            width:420px;
            
        }
        .li_dj,.li_sl,.li_cz{
            width:180px;
        }
        .li_xj{
            width:140px;
        }
    }
    .ban_wu{
        height:200px;
        background:url(../img/buyno_shop.jpg) 0px 0px no-repeat #f7f7f7;
        font-size:18px;
        text-align:center;
        line-height:200px;
        padding:100px 0;
        a{
            text-decoration:underline;
            color:#a01f23;
            padding-left:15px;
            font-size:18px;
            
        }
    }
    .ban_ts{
        height:46px;
        line-height:46px;
        text-align:right;
        padding-right:20px;
        position:relative;
        color:#616266;
        font-size:12px;
        border-bottom:1px solid #ccc;
        a{
            color:#9c221d;
            font-size:14px;
            text-decoration:underline;
            position:absolute;
            left:20px;
            top:0px;
            
        }
    }
    .ban_js{
        height:45px;
        margin-top:20px;
        background:#e7e7e7;
        padding-top:25px;
        position:relative;
        .ban_js1{
            height:22px;
            background:url(../img/buy_inphui.jpg) left center no-repeat;
            padding-left:20px;
            font-size:12px;
            margin-left:20px;
            color:#6d6b6c;
            line-height:22px;
            a{
                font-size:14px;
                color:#a51f1c;
                text-decoration:underline;
                padding-left:10px;
            }
        }
        .ban_hj{
            position:absolute;
            right:230px;
            top:25px;
            color:#ac172a;
            .sl{
                font-size:12px;
            }
            .dj{
                font-size:14px;
                font-weight:600;
                
            }
        }
        .js{
            display:block;
            width:220px;
            height:70px;
            position:absolute;
            right:0px;
            top:0px;
            color:#fff;
            font-size:24px;
            font-weight:600;
            line-height:70px;
            text-align:center;
            background:#a01f23;
            &:hover{
                text-decoration:none;
                background:#ca494d;
            }
        }
    }
}
//凑单商品
.cd{
    width:100%;
    .cd_sp1{
        width:1120px;
        margin:0 auto;
        .cd_hed{
            height:38px;
            font-size:18px;
            line-height:38px;
            padding-left:25px;
            padding-bottom:4px;
            background:url(../img/hea_bj.png) left center no-repeat;
        }
        .cd_ban{
            height:310px;
            border-top:2px solid black;
            border-bottom:1px solid #ccc;
            margin-bottom:40px;
            ul{
                list-style:none;
                width:1120px;
                height:310px;
                background:url(../img/listbottom_bj.jpg) repeat-y;
            }
        }
    }
}